a[href] {
  text-decoration-line: underline;
  text-decoration-color: #36363666;
}

.del {
  text-decoration: line-through;
}

.nom {
  font-style: italic;
}

.search-container {
  width: 100%;
}

.venue {
  display: inline-block;
  min-height: 18ex;
  min-width: 20em;
  padding: 1ex;
  vertical-align: top;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; 
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
